{% extends 'base.html' %}
{% load static %}
{% block photos %}

<p>ss</p>
<p>ss</p>

<div class="container shadow">
    <h3 class="text-center" style="color: purple;">SignIn</h3><hr>
    
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}

        {% if error %}
            <li style="color: red;">{{error}}</li>
        {% endif %}

        <button class="btn btn-info text-light">Submit</button>
    </form>
    Don't have a account !. <a href="{% url 'signup' %}">Then Click here</a><br>
    <a href="">Password Forgotten !</a>
    
</div>

{% endblock photos %}


</form>